<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contactStyle.css">
   
</head>

<body>
    <img class="logoMenu" src="/images/logoprincipal.png">
    <div class="container">
        <h1>Contact Us</h1>
        <form action="https://formsubmit.co/quacksnap8@gmail.com" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.(com|es)$">
            </div>
            <div class="form-group">
                <label for="incident">Incident Type:</label>
                <select id="incident" name="incident" required>
                    <option value="">Select an option:</option>
                    <option value="PaginaCaida">Page Not Working</option>
                    <option value="FalloImagenes">Image Failure</option>
                    <option value="Feedback">Feedback</option>
                    <option value="Otros">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comentario">Comment:</label>
                <textarea id="comentario" name="comentario" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms">Terms and Conditions</label>
            </div>
            <button class = "sendButton" type="submit">Send</button>
            <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
    </div>

    <div class="buttonContainer">
        <a href="https://localhost:8443/">
            <button class="buttonArrow">
        <div class="buttonArrow-box">
          <span class="buttonArrow-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
              ></path>
            </svg>
          </span>
          <span class="buttonArrow-elem">
            <svg viewBox="0 0 46 40">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
              ></path>
            </svg>
          </span>
        </div>
      </button>
        </a>
        
    </div>
</body>
</html>