
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
    <link rel="stylesheet" href="uploadImage.css">
</head>
<body>

    <img class="mainLogo" src="/images/logoprincipal.png">
<div class="container">
    <form action="/upload_image" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <p>Post title:</p>
        <input type='text' name='postTitle' required/>
        <p>Image category:</p>
        <input type='text' name='imageCategory'required/>
        <p>Image description:</p>
        <textarea type='text' name='imageDesc' required></textarea>
        <p>Image file:</p><input type='file' name='image' accept=".jpg, .jpeg" required/>
        <input type='submit' value='Save'/>
    </form>
</div>
<div class="buttonContainer">
    <a href="https://localhost:8443/">
        <button class="buttonArrow">
    <div class="buttonArrow-box">
      <span class="buttonArrow-elem">
        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
          ></path>
        </svg>
      </span>
      <span class="buttonArrow-elem">
        <svg viewBox="0 0 46 40">
          <path
            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
          ></path>
        </svg>
      </span>
    </div>
  </button>
    </a>
    
</div>

</body>
</html>

