<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user_template.css">
    <title>Public Profile</title>
</head>
<body>
<div class="container">
    <div class="photo-container">
            <img src="/updated_profile/{{index}}">
        <div class="photo-details">
            <div class="photo-name">
                <p>
                    {{username}}
                </p>
            </div>
            <hr>
            <div class="photo-description">
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    <hr>

    <div class="buttons">
        <a href="http://localhost:8080/edit_profile">
            <button>Edit Profile</button>
        </a>

        <a href="http://localhost:8080/">
            <button>Back</button>
        </a>
    </div>



    <hr>
</body>