<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/viewImage_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Details</title>
</head>
<body>
<div class="container">
    <div class="photo-container">
        <img src="/download_image/{{index}}" alt="Photo" class="photo">
        <div class="photo-details">
            <div class="photo-name">{{title}}</div>
            <hr>
            <div class="photo-description">
                {{description}}
            </div>
        </div>
    </div>
    <div class="buttons">
        <button>Delete</button>
        <button>Edit</button>
        <button>Like</button>
    </div>
    <form class="comment-form" action="/viewPost/{{index}}" method="post" enctype="multipart/form-data">
        <input type="text" name="userName" placeholder="Your name" required>
        <input type="text" name="comment" placeholder="Add a comment" required>
        <input type="submit" class="SubmitButton" value="Add Comment">
    </form>
    <br>
    <div class="comments-container">

        {{#comments}}
        {{{.}}}<br>
        {{/comments}}
    </div>
</div>
</body>