<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="viewImage_style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Details</title>
    <link type="text/css" rel="stylesheet" href="../static/viewImage_style.css">
</head>
<body>
<div class="container">
    <div class="photo-container">
        <img src="/download_image/{{index}}" alt="Photo" class="photo">
        <div class="photo-details">
            <div class="photo-name">{{title}}</div>
            <hr>
            <div class="photo-description">
                {{description}}
            </div>
        </div>
    </div>
    <div class="buttons">
        <button>Delete</button>
        <button>Edit</button>
        <button>Like</button>
    </div>
    <form class="comment-form">
        <input type="text" placeholder="Your name">
        <input type="text" placeholder="Add a comment">
        <input type="submit" value="Add Comment">
    </form>
    <div class="comments-container">
        <!-- Comments will be dynamically added here -->
    </div>
</div>
</body>