<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Details</title>
    <link type="text/css" rel="stylesheet" href="../static/viewImage_style.css">
</head>
<body>
<div class="container">
    <div class="photo-container">
        <img src="https://phantom-elmundo.unidadeditorial.es/03216350ddcf4dccd2902d43fbd37daa/crop/0x0/840x560/resize/600/f/webp/assets/multimedia/imagenes/2023/10/19/16977227924509.jpg" alt="Photo" class="photo">
        <div class="photo-details">
            <div class="photo-name">Photo Name</div>
            <hr>
            <div class="photo-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac justo vitae augue porta varius.
            </div>
        </div>
    </div>
    <div class="buttons">
        <button>Delete</button>
        <button>Edit</button>
        <button>Like</button>
    </div>
    <form class="comment-form">
        <input type="text" placeholder="Your name">
        <input type="text" placeholder="Add a comment">
        <input type="submit" value="Add Comment">
    </form>
    <div class="comments-container">
        <!-- Comments will be dynamically added here -->
    </div>
</div>
</body>